@model IEnumerable<UserManagementWithIdentity.Models.Labtop>
@{
    ViewData["Title"] = "Labtop";
}

@foreach (var item in Model)
{
    <p>@item.Name</p>
    <p>@item.Price</p>
    <p>@item.Description</p>
}