@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

        <div class="text-center">
            <h1 class="display-4">Lab Gallery</h1>
            <p>Explore more</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 p-2">
                <div class="card">
                    <div class="text-center">
                        <img src="~/images/defultimage.jpg" class="fullSize img-thumbnail" alt="Product">
                        <div class="card-body">
                            <h3>HP ProBook</h3>
                            <h4>4300 L.E</h4>
                            <p>8 Giga Ram, 120 SSD, intel core i5</p>
                            @if (SignInManager.IsSignedIn(User))
                            {

                                <a href="" class="btn btn-success">favorite</a>
                            }
                            else
                            {
                              <a class="text-danger" asp-area="Identity" asp-page="/Account/Login">Login to add favorite</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card">
                    <div class="text-center">
                        <img src="~/images/defultimage.jpg" class="fullSize img-thumbnail" alt="Product">
                        <div class="card-body">
                            <h3>HP ProBook</h3>
                            <h4>4300 L.E</h4>
                            <p>8 Giga Ram, 120 SSD, intel core i5</p>
                            <a href="" class="btn btn-success">favorite</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card">
                    <div class="text-center">
                        <img src="~/images/defultimage.jpg" class="fullSize img-thumbnail" alt="Product">
                        <div class="card-body">
                            <h3>HP ProBook</h3>
                            <h4>4300 L.E</h4>
                            <p>8 Giga Ram, 120 SSD, intel core i5</p>
                            <a href="" class="btn btn-success">favorite</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card">
                    <div class="text-center">
                        <img src="~/images/defultimage.jpg" class="fullSize img-thumbnail" alt="Product">
                        <div class="card-body">
                            <h3>HP ProBook</h3>
                            <h4>4300 L.E</h4>
                            <p>8 Giga Ram, 120 SSD, intel core i5</p>
                            <a href="" class="btn btn-success">favorite</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-2">
                <div class="card">
                    <div class="text-center">
                        <img src="~/images/defultimage.jpg" class="fullSize img-thumbnail" alt="Product">
                        <div class="card-body">
                            <h3>HP ProBook</h3>
                            <h4>4300 L.E</h4>
                            <p>8 Giga Ram, 120 SSD, intel core i5</p>
                            <a href="" class="btn btn-success">favorite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
